<h1>All tours</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th colspan="4">Title</th>
  </tr>
  </thead>
  <tbody>
  <% @tours.each do |tour| %>
    <tr>
      <td><%= tour.title %></td>
      <td><%= link_to 'Show', tour %></td>
      <td><%= link_to 'Edit', edit_tour_path(tour) %></td>
      <td><%= link_to 'Destroy', tour, prompt: 'Are you sure?' %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'New Tour', new_tour_path %>
